Repository KU-KUICS/KUICS_backend, pull requests merged in 2020-07, with the labels that each got.

#69 Github Actions for Test
  .github/workflows/test.yml
  config/config.json
  config/dbConfig.json
Labels: Improvement

#70 Readme 수정
  docs/README.md
Labels: Document, Improvement

#71 Auth API
  package-lock.json
  package.json
  src/api/auth/auth.ctrl.js
  src/api/auth/index.js
  src/api/auth/passport.js
  src/lib/errorHandler.js
  src/server.js
Labels: API

#81 [FIX] yarn
  .github/workflows/test.yml
Labels: Improvement

#83 소개글 API
  src/api/admin/admin.ctrl.js
  src/api/admin/index.js
  src/api/index.js
  src/api/intro/index.js
  src/api/intro/intros.ctrl.js
  src/models/intros.js
Labels: API

#82 Github Actions
  .github/workflows/dev.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Labels: Improvement

#80 Feature/#18/admin
  package.json
  src/api/admin/admin.ctrl.js
  src/api/admin/index.js
  src/lib/errorHandler.js
  yarn.lock
Labels: API

#91 Oauth 리다이렉트 URL 수정
  src/api/auth/auth.ctrl.js
Labels: API

#90 탈퇴 검사 코드 수정
  src/api/admin/admin.ctrl.js
Labels: API

#87 Feature/#16/boards
  package-lock.json
  package.json
  src/api/boards/boards.ctrl.js
  src/api/boards/index.js
  src/lib/errorHandler.js
  src/models/boards.js
Labels: API

#93 Fix/swagger
  src/api/intro/intros.ctrl.js
Labels: API, Bug, Document, Improvement
